Body {
    background-color:#FAE8CF;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
/*Header section*/
h1 {
  h1 {
    font-size: 50px;
    color:#BD908B;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
}
h2, h3 {
  color:#BD908B;
  font-weight: bold;
  font-family: 'Lora', serif;
}

p {
  font-size: 24px;
  padding:5px;
}
h2 {
           color:#521945;
       }
ul {
    List-style-type: none;
}

img {
  width:25%;
  min-width:300px;
  max-width: 600px;
  border:none;
}

#joke {
    border: 2px solid #BD908B;
    background-color:#FAE8CF;
    font-family: 'Indie Flower', cursive;
    Padding: 15px;
    Max-width: 500px
    Margin:auto;
}

#joke p {
  font-size: 18px
  color:#BD908B
}
